backend/__pycache__
/db/*.db
/uploads
/frontend/node_modules
/frontend/.vite
/frontend/dist
/frontend/android
/frontend/release
/frontend/nginx.conf
/static
docker-compose.yml
AGENTS.md
.env
/example
\\
